.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #00A8E8;
  height: 90px;
  padding: 15px;
  color: white;
  font-size: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Nav-menu-item {
  color: white;
}

.Table-Entry {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.Main-Table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
